body{
	margin: 0;
	padding: 0;
	background: url(../img/fondopagina.jpg)no-repeat fixed center center #333;
	background-size: cover;
}
#wrapper{
	border-radius: 5px;
	background-color: #158032;
	height: 600px;
	margin:0 auto;
	width: 700px;
}
